@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(118, 208, 151);
    background-image: linear-gradient(to right, rgb(118, 208, 151), rgba(156, 203, 227, 0.685));
    background-attachment: fixed;
}

h1{
    color:rgb(39, 119, 68) ;
}
#principal{
    margin-left:0px;
    background-color: rgba(166, 152, 152, 0.593);
    color : rgb(20, 100, 49);
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(118, 208, 151), rgb(118, 178, 208));
    background-attachment: fixed;
}

h2{
    color: rgb(87, 136, 105);
}
.basico{
    background-color: rgba(0, 100, 128, 0.536);
    color: rgb(34, 173, 127);
}
.intermediario{
    background-color: rgb(79, 170, 144);
}
.avancado{
    background-color: rgb(37, 150, 138);
}
