@charset "UTF-8";

div{
    display: inline-block;
    background-color: lightgray;
    text-align: center;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 0px;
}

div > p{
    display: none;
}

div:hover{
    color: rgb(0, 179, 255)(0, 0, 255, 0.559);
    background-color: aqua;
}


#d1 > p{
    display: none;
}
#d1:hover > p{
    display: block;

}


