@charset "UTF-8";

*{
    font-family: arial, Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #A3AB78, #818274);
}

p{
    text-align: justify;
}


main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 1px 0px 1px #35aac2b6;
}

h1{
    color: #10454F ;
    text-align: center;
    text-shadow: 1px 1px 6px  #7d8e487b;
}
h2 {
    color: #10454F ;
    color: #506266;
}
